.header-custon {
    background-color: #ffb74c;
        display: flex;
        justify-content: center;
}

.header-custon p {
    color: #ff950d;
    font-size: 24px;
    font-weight: bold;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.cor-base {
    color: #ffb74c !important;
}